#a{
    background-color:bisque;

}
#b{
    background-color: blue; font-size: x-large;

}
.c{
    color: salmon;

}
#d{
    color: red; font-size: large; text-decoration: underline;
}
.e{
    height: 10%; width: 20%;
}
